.projectlist-main .mainHead .searchBox .btn-add {
  display: inline-block;
  margin-left: 15px;
}
.projectlist-main .mainHead .searchBox .search-input {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
}
.projectlist-main .mainHead .searchBox .el-form--inline .el-form-item {
  margin-right: 1rem !important;
  margin-top: 1.625rem;
}
.projectlist-main .dataList {
  margin-top: 15px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
}
.projectlist-main .dataList .el-table td,
.projectlist-main .dataList .el-table th.is-leaf {
  background: #49a1c3 !important;
}
.projectlist-main .dataList .auditstatus {
  width: 90px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #fff;
}
.projectlist-main .dataList .operation span {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #222222;
  cursor: pointer;
}
.projectlist-main .dataList .operation .oper_edit {
  margin-right: 0px;
}
.projectlist-main .dataList .operation .oper_company {
  margin-right: 20px;
}
