.sharing .search_box {
  width: 100%;
  min-height: 869px;
  background: #ffffff;
  border: 1px solid #f0f2f1;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  /*定义为弹性盒子*/
  justify-content: space-around;
  /*设置水平对齐方式*/
  align-items: center;
  /*设置改行垂直对齐方式*/
}
.sharing .el-input--small {
  height: 70px;
}
.sharing .el-form-item {
  display: block;
  text-align: center;
  margin-top: 22px;
}
.sharing .el-button {
  display: block;
  margin: 0 auto;
  width: 182px;
  height: 51px;
  background: #66ce90;
  border-radius: 5px;
  font-size: 30px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffffff;
  line-height: 8px;
  margin-top: 190px;
}
.sharing .el-form-item__label {
  min-width: 180px;
  /* font-size: 26px; */
  font-weight: 400;
  color: #888888;
  /* line-height: 70px !important; */
  text-align: right;
}
.sharing .el-input__inner {
  width: 514px;
  /* height: 70px !important; */
  background: #ffffff;
  border: 1px solid #edebeb;
  border-radius: 5px;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
  line-height: 15px;
}
.sharing .el-form-item__content {
  display: inline-block;
}
.sharing .el-button--primary {
  border: none;
}
