* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login_box {
  width: 100%;
  height: 100vh;
  background: #EDEEEF;
}
.header {
  width: 100%;
  height: 60px;
  background: #49a1c3;
  display: flex;
  align-items: center;
}
.header img {
  width: 37px;
  height: 37px;
  padding-left: 24px;
  display: inline-block;
}
.title {
  display: inline-block;
  color: #fff;
  line-height: 60px;
  padding-left: 20px;
}
.login_content {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
}
.main_box {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 494.6px;
  height: 643.4px;
  background: #fff;
  color: blue;
  overflow: hidden;
}
.el-input--small .el-input__inner {
  border-radius: 19px;
}
.login_header {
  width: 100%;
  height: 94px;
  text-align: center;
  font-size: 36px;
  color: #606266;
  padding: 20px;
}
.login_headerimg {
  border-width: 0px;
  width: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.login_headerimg .headerimg {
  width: 100%;
  margin-left: 50%;
}
.imgs {
  width: 94px;
  height: 94px;
  display: block;
  margin: 0 auto;
}
.phone {
  width: 392px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 26px;
}
.phone i {
  font-size: 33px;
  color: #DCDCDC;
  padding-left: 20px;
}
.erification-code {
  width: 392px;
  height: 50px;
  margin: 0 auto;
  display: block;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.password {
  width: 392px;
  height: 50px;
  margin: 0 auto;
  display: block;
}
.forget_pass {
  width: 30%;
  font-size: 1.125rem;
  text-align: center;
  color: #49a1c3;
  cursor: pointer;
  display: inline-block;
  margin-left: 68px;
}
.login {
  width: 200.6px;
  height: 57.5px;
  margin: 50px auto;
  display: block;
  background: #49a1c3;
  color: #fff;
  border-radius: 50px;
}
.login_img {
  width: 94px;
  height: 94px;
  background: #49a1c3;
  display: inline-block;
}
.count {
  width: 91px;
  height: 45px;
  background: #49a1c3;
  border-radius: 22.44px;
  line-height: 45px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.input-box {
  width: 256px;
}
.forget_btn {
  width: 201px;
  height: 58px;
  background: #49a1c3;
  border-radius: 29px;
  font-size: 30px;
  font-weight: bold;
  color: #66ce90;
  text-align: center;
  margin: 30px auto 0;
  color: #fff;
  display: block;
}
